* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

/* Color of span class is different from entire header */
header h1 .seo {
  color: #d9dcd6;
}

nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

/* Navigation links do not have bullets */
header nav ul {
  list-style-type: none;
}

/* Navigation links are in a single line with margin space between */
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* hero class contains background image link and styling */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* Main section contains relatively wider blocks to the left */
main {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* Each block within the main section have background color and font for body */
main section {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* Main section image has specific height */
main img {
  max-height: 200px;
}

/* Float-left class floats to the left */
.float-left {
  float: left;
  margin-right: 25px;
}

/* Float-right class floats to the right */
.float-right {
  float: right;
  margin-left: 25px;
}

/* Aside contains relatively narrower block with specific background color and font for body */
aside {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #2589bd;
}

/* Each block within the aside section have bottom margins */
aside section {
  margin-bottom: 32px;
  color: #ffffff;
}

/* Each aside image has specfic height */
aside img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

/* Footer h2 is is different from h2 */
footer h2 {
  font-size: 20px;
}